<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="yeepay.payplus.mapper.CustomerMapper">
    <resultMap type="yeepay.payplus.domain.Customer" id="customerRM">
        <id property="id" column="ID"/>
        <result property="name" column="NAME"/>
    </resultMap>

    <!-- 配置关联关系 1:N -->
    <resultMap type="yeepay.payplus.domain.Customer" id="customerOrdersRM" extends="customerRM">
        <!-- 配置多的（N），property 属性就是实体中的 List 对象属性名称，ofType 属性就是集合元素的类型 -->
        <collection property="orders" ofType="yeepay.payplus.domain.Orders">
            <id property="id" column="ID"/>
            <result property="sn" column="SN"/>
            <result property="remark" column="REMARK"/>
        </collection>
    </resultMap>

    <!-- 查询，关联关系 Map 作为查询条件 -->
    <select id="find" parameterType="map" resultMap="customerOrdersRM">
        SELECT
        c.name,o.sn,o.remark
        FROM
        (SELECT id,name FROM customer) c
        LEFT JOIN
        (SELECT id,sn,remark,customer_id FROM orders) o
        ON c.id = o.customer_id
        WHERE c.name = #{customerName}
    </select>
</mapper>